<pageFooter>
    <table border="1" align="center">
        <tbody>
            <tr>
                @*<td>Page Footer</td>
                    <td><button type="button" class="btn btn-primary" id="testButton">Test Javascript</button></td>*@
            </tr>
        </tbody>
    </table>
</pageFooter>
<link href="~/Content/myCommonStyleSheet.css" rel="stylesheet" />
<script src="~/Scripts/CommonScript.js"></script>