@using Newtonsoft.Json
<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js" asp-append-version="true"></script>
<script src="~/Scripts/bootstrap.min.js" asp-append-version="true"></script>
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />