@model ELearningPortalMSAzureV1.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    if (Model.Users.UserRole == "Learner")
    {
        Layout = "~/Areas/Learner/Views/Learner/_LearnerProfileLayout.cshtml";
    }
    else if (Model.Users.UserRole == "Teacher")
    {
        Layout = "~/Areas/Teacher/Views/Teacher/_TeacherProfileLayout.cshtml";
    }
    else if (Model.Users.UserRole == "Admin")
    {
        Layout = "~/Areas/Admin/Views/Admin/_AdminProfileLayout.cshtml";
    }
}




<div class="row register-form">
    <div class="col-md-6">
        <div class="form-group">
            <h3 style="padding-left:16px">Enter Current Password</h3>
            <div class="col-md-6">
                <input type="password" class="form-control" id="CurrentPassword" value="" />
                <span style="color:red;font-weight:bold; display:none" id="spInvalidPassword">Invalid Password</span>
            </div>
            <button class="btn btn-primary" id="btnValidatePassword">Validate</button>
        </div>
        <div id="NewPasswordBlock" style="display:none">
            <form method="post" enctype="multipart/form-data" asp-controller="@Model.ControllerName" asp-action="ChangePasswordSave">
                <input type="hidden" id="hdnControllerName" value="@Model.ControllerName">
                <div class="form-group">
                    <h3 style="padding-left:16px">Enter New Password</h3>
                    <div class="col-md-6">
                        <input asp-for="UserLoginDetails.Password" type="password" class="form-control" value="" />
                    </div>
                    <div class="profileValidationDiv" id="ProfilePasswordError"></div>
                </div>
                <div class="row"></div>
                <div class="form-group">
                    <h3 style="padding-left:16px">Confirm New Password</h3>
                    <div class="col-md-6">
                        <input asp-for="UserLoginDetails.ConfirmPassword" type="password" class="form-control" value="" />
                    </div>
                    <div class="profileValidationDiv" id="ProfileConfirmPasswordError"></div>
                </div>
                <div class="row"></div>
                <br />
                <input asp-for="UserLoginDetails.UserId" type="hidden" value="@Model.Users.UserId" />
                <div class="col-sm-1"></div><button class="btn btn-primary" onclick="return IsValidPasswordsEntered()">Change Password</button>
            </form>
        </div>
    </div>
</div>
