<!-- Modal -->
<div class="modal fade" id="IncompleteProfileModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:ghostwhite">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Incomplete Profile</h4>
            </div>
            <div class="modal-body">
                Your Profile Setup is Not Yet Complete. Click
                <a asp-controller="Learner" asp-action="Profile">
                    <b>Here</b>
                </a>
                to Complete. Or Navigate to the Profile Tab
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>