<!-- Modal -->
<div class="modal fade" id="PlayVideoModalTest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog playVideoModalDesign" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="modalPlayVideoTutorialHeader"></span></h4>
            </div>
            <div class="modal-body">
                <video controls id="modalPlayVideoIdForSRC" style="width: 100%; height: auto; margin:0 auto; frameborder:0;">
                    @*<source src="~/UploadedFiles/Part3_HelloAll_Small.mp4" type="video/mp4">*@
                    @*Your browser doesn't support HTML5 video tag.*@
                </video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>