@model ELearningPortalMSAzureV1.ViewModels.SignUpViewModel

@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}
<div class="register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="~/Images/ACEP_Logo_200by200.jpg" alt="" />
            <h3>Admininister the Best Learning Portal</h3>
            <br />
            <h6>Not an Admin?</h6>
            <a asp-controller="Home" asp-action="SignUp"><input type="submit" class="login-left-btnSignup" name="" value="Sign Up" /></a><br />
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="raLearner">
                    <h3 class="register-heading">Admin Registration</h3>
                    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SignUp">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input asp-for="UserAdmin.FirstName" type="text" class="form-control" placeholder="First Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input asp-for="UserAdmin.LastName" type="text" class="form-control" placeholder="Last Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input asp-for="UserAdmin.Email" type="email" class="form-control" placeholder="Email *" value="" />
                                </div>
                                <div class="form-group">
                                    <input asp-for="UserAdmin.Phone" type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                                </div>
                                <div class="form-group">
                                    <input asp-for="UserAdminLoginDetails.AdminCodeNumber" type="number" maxlength="6" minlength="6" class="form-control" placeholder="Enter Code Received from ACEP Team *" value="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input asp-for="UserAdminLoginDetails.Password" type="password" class="form-control" placeholder="Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <input asp-for="UserAdminLoginDetails.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <select asp-for="UserAdminLoginDetails.SecurityQuestion" class="form-control">
                                        <option class="hidden" selected disabled>Please select your Sequrity Question</option>
                                        <option>What is your Birthdate?</option>
                                        <option>What is Your old Phone Number</option>
                                        <option>What is your Pet Name?</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input asp-for="UserAdminLoginDetails.SecurityAnswer" type="text" class="form-control" placeholder="`Answer *" value="" />
                                </div>
                                <input asp-for="UserRole" type="hidden" value="Admin" />
                                <input type="submit" class="btnRegister" value="Register" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<link href="~/Content/HomePage.css" rel="stylesheet" />