@using ELearningPortalMSAzureV1.Resources
@model ELearningPortalMSAzureV1.Areas.Admin.ViewModels.CourseApprovalViewModel


@{
    Layout = "_AdminCourseManagementLayout.cshtml";
    ViewData["Title"] = "Approve Courses";
}


<div class="row">
    @foreach (var data in Model.CourseListForAdminApproval)
    {
        @*<a asp-controller="Learner" asp-action="CoursePage" asp-route-CourseId=@data.CourseId>*@
        <div class="row">
            <div class="col-md-3">
                <a asp-controller="Admin" asp-action="TutorialsPage" asp-route-CourseId=@data.CourseId> <img src="@Constants.DefaultImageNames.CoursePhotoSrcPath@data.CourseImageFile.FileName" width="250px" height="200px" /></a>
            </div>
            <div class="col-md-5 CourseBlocksRowWise">
                <a asp-controller="Admin" asp-action="TutorialsPage" asp-route-CourseId=@data.CourseId>
                    <h4>@data.CourseName</h4>
                </a>
                @if (data.AverageCourseRating > 0)
                {
                    <a asp-controller="Admin" asp-action="CourseRatings" asp-route-CourseId=@data.CourseId>
                        @Html.Partial("_StarRatingBlock", Convert.ToInt32(data.AverageCourseRating))
                    </a>
                }
                <h5>@data.CourseDuration</h5>
            </div>
            <div class="col-md-2">
                <a asp-controller="Admin" asp-action="ApproveCourse" asp-route-CourseId=@data.CourseId><button type="button" class="btn btn-primary btn-lg" style="background-color:cornflowerblue">Approve Course</button></a>
            </div>
        </div>
        @*</a>*@
    }
</div>