@using ELearningPortalMSAzureV1.Resources
@model ELearningPortalMSAzureV1.Areas.Admin.ViewModels.AdminProfileViewModel

@{
    ViewData["Title"] = "Edit Profile";
    Layout = "_AdminProfileLayout.cshtml";
}

<h2>EditProfile</h2>

@if (Model.IsAdminProfileComplete)
{
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <img src="@Constants.DefaultImageNames.UserPhotoSrcPath@Model.AdminDetails.AdminImageFile.FileName" width="180px" height="180px" style="align-content:center" />
        <h2 style="text-align:left;color:cadetblue">@Model.Users.UserFullName.ToUpper()</h2>
    </div>
    <div class="row"></div>
    <form class="form-horizontal" method="POST" enctype="multipart/form-data" asp-controller="Admin" asp-action="UpdateAdminProfile">
        @Html.HiddenFor(x => x.Users.UserId)
        <fieldset>
            <div class="row"></div>
            <div class="col-md-6">
                <div class="control-group">
                    <label class="control-label">Current City</label>
                    <div class="controls">
                        <input type="text" asp-for="AdminDetails.CurrentCity" placeholder="" class="input-xlarge">
                        <p class="help-block">Where are you currently staying</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Current State</label>
                    <div class="controls">
                        <input type="text" asp-for="AdminDetails.CurrentState" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the Name of the state for your current city</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="control-group">
                    <label class="control-label">Highest Qualification</label>
                    <div class="controls">
                        <input type="text" asp-for="AdminDetails.HighestQualification" placeholder="" class="input-xlarge">
                        <p class="help-block">Please enter the Highest Qualification</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-4"></div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-success" value="Update Profile">
                </div>
            </div>
        </fieldset>
    </form>


}
else
{
    Context.Response.Redirect("Profile");
}